<!-- <p id="notice"><%= notice %></p> -->


<%= link_to 'Register to this Tryout Online',  player_tryouts_path(tryout_id: @tryout.id), method: :post %> |
<%= link_to 'Edit', edit_tryout_path(@tryout) %> |
<%= link_to 'Back', tryouts_path %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1><%= link_to "Tryout Details", edit_tryout_path(@tryout), style:'color:white' %> |
        <%= link_to "Register", player_tryouts_path(tryout_id: @tryout.id),method: :post, class:'btn btn-success pull-right', style:'color:white' %></h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-6">
          <h3><strong>Date:</strong></h3>
          <h4><i><%= @tryout.date.strftime('%A %d, %Y') %></i></h4>
          <h3><strong>Time:</strong></h3>
          <h4><i><%= @tryout.date.strftime('%I:%M %P') %></i></h4>
          <h3><strong>Fee:</strong></h3>
          <h4><i>$<%= number_with_precision(@tryout.fee, precision: 2) %></i></h4>
        </div>
        <div class="col-md-6">
          <h3><strong>Address Line 1:</strong></h3>
          <h4><i><%= @tryout.address1 %></i></h4>
          <h3><strong>Address Line 2:</strong></h3>
          <h4><i><%= @tryout.address2 %></i></h4>
          <h3><strong>City:</strong></h3>
          <h4><i><%= @tryout.city %></i></h4>
          <h3><strong>State:</strong></h3>
          <h4><i><%= @tryout.state %></i></h4>
          <h3><strong>ZIP:</strong></h3>
          <h4><i><%= @tryout.zip %></i></h4>
        </div>
      </div>
      <div class="col-md-6">
        <iframe
            width="500"
            height="400"
            frameborder="5" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAdg49Tak1UQabDrP0djPBJlP6Kgp3SG3E
            &q= <%=@tryout.address1%> <%=@tryout.address2 %> <%=@tryout.city%> <%=@tryout.state%> <%=@tryout.zip%>"  allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Registered Players</h1>
  </div>
  <div class="panel-body">
    <% @tryout.player_tryouts.each do |pt| %>
        <tr>
          <td><%= pt %></td>
        </tr>
    <% end %>
  </div>
</div>
