<%= form_for(@player) do |f| %>
    <div class="row">
      <div class="col-md-6">
        <h3><u>Demographic Information</u>:</h3>
        <div class="field">
          <%= f.label :type %><br>
          <%= f.text_field :type, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :first_name, 'First Name:' %><br>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :last_name, 'Last Name:' %><br>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :username, 'User Name:' %><br>
          <%= f.text_field :username, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :email, 'Email:' %><br>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :phone, 'Phone:' %><br>
          <%= f.number_field :phone, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :gender, 'Gender:' %><br>
          <%= f.number_field :gender, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :dob, 'Date of Birth:' %><br>
          <%= f.datetime_select :dob, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-6">
        <h3><u>Address Information</u>:</h3>
        <div class="field">
          <%= f.label :address1, 'Address Line 1:' %><br>
          <%= f.text_field :address1, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :address2, 'Address Line 2:' %><br>
          <%= f.text_field :address2, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :city, 'City:' %><br>
          <%= f.text_field :city, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :state, 'State:' %><br>
          <%= f.select(:state,
                       ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL',
                        'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE',
                        'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
                        'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], {}, {:class => 'form-control'}) %>
        </div>
        <div class="field">
          <%= f.label :zip, 'ZIP:' %><br>
          <%= f.number_field :zip, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :experience, 'Experience:' %><br>
          <%= f.text_area :experience, class: 'form-control', rows: '8' %>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="actions">
          <%= f.submit 'Submit', class: 'btn btn-primary pull-right' %>
        </div>
      </div>
    </div>
<% end %>
