<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Players <%= link_to 'New Player', new_player_path, class:'btn btn-success pull-right', style:'color:white' %></h1>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-striped table-responsive">
      <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Gender</th>
        <th>Date of Birth</th>
        <th>Experience</th>
        <th colspan="1"></th>
      </tr>
      </thead>

      <tbody>
      <% @players.each do |player| %>
          <tr>
            <td><%= player.type %></td>
            <td><%= link_to player.first_name + ' ' + player.last_name, player %></td>
            <td><%= player.username %></td>
            <td><%= player.email %></td>
            <td><%= player.phone %></td>
            <td><%= player.gender %></td>
            <td><%= player.dob.strftime('%m/%d/%Y %I:%M %P') %></td>
            <td><%= player.experience %></td>
            <td><%= link_to 'Destroy', player, method: :delete, data: {confirm: 'Are you sure?'}, class:'btn btn-danger', style:'color:white' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>


  </div>
</div>
